* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #303030;
  color: #c7c7c7;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 65px;
  font-weight: 700;
}

.button {
  border-radius: 5px;
  background-color: rgb(255, 100, 100);
  color: #fff;
  line-height: 1;
  font-size: 18px;
  padding: 6px 18px;
  text-align: center;
  cursor: pointer;
  border: 1px dotted rgb(0, 0, 0);
  outline: navajowhite;
}
